<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="release" value="https://myget.org/F/aspnetcirelease/api/v2" />
  </packageSources>
  <packageRestore>
    <add key="enabled" value="False" />
    <add key="automatic" value="False" />
  </packageRestore>
</configuration>
